.App{
    position:relative;
}

.table{
    position: absolute;
    background-color: white;
    bottom:60%;
    left:17%;
}

img{
    width:100%;
    height: 50%;
}

table,tr,th {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 1000px;
    height: 200px;
    font-size: 30pt;
    
}

#btn {
    padding: 0.3rem 1rem;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 800;

    display: inline-block;
    width: auto;

    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    color: #fff;
    background-color: skyblue;
}

#btn:hover {
    color: white;
    background-color: red;
}

p{
    bottom:45%;
    left: 30%;
    position:absolute;
    color:red;
    background-color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 300;
    padding: 20px;
}