.header {
  background-color: #abcded;
  padding: 15px;
}

h1 {
  text-align: left;
  font-size: 43px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color:#F8FEB5;
  text-shadow:1px 1px 1px #000;
}
